{{ define "main" }}
	<main class="content">
		<article>
			<h1 class="post-title">{{ .Title }}</h1>
			<div class="post-meta">
				{{ if gt .ReadingTime 1 }}
					{{ .Scratch.Set "readingTime" "minutes" }}
				{{ else }}
					{{ .Scratch.Set "readingTime" "minute" }}
				{{ end }}
				<span class="read-time">{{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}</span>
				<span class="pub-date">{{ .Date.Format "02 Jan, 2006" }}</span>
				{{ if .Params.description}}
				<p class="post-desc">
					{{ .Description }}
				</p>
				{{ end }}
				{{ with .Params.tags }}
				<div class="post-badges">
					{{ range . }}
					<div class="badge {{ . | urlize }}">
						<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					</div>
					{{ end }}
				</div>
				{{ end }}
				<hr />
			</div>
			<div class="post-content">
				{{ .Content }}
			</div>
		</article>
		{{ template "_internal/disqus.html" . }}
	</main>
{{ end }}
